<div class="container jumbotron">
  <%= @user.first_name %> is a member of the following libraries:
  <ul>
    <% @libraries.each do |library| %>
      <li><%= library.name %></li>
    <% end %>
  </ul>
</div>
