<div class="container jumbotron">

Login

<%= form_for @user, url: '/sessions', method: 'post' do |f| %>
  <div class="row">
    <div class="my-input"><%= f.text_field :email, placeholder:' Email' %></div>
  </div>
  <div class="row">
    <div class="my-input"><%= f.password_field :password, placeholder:' Password' %></div>
  </div>
  <div class="container">
    <br>
    <%= f.submit 'Log In!' %>
  </div>
  <% end %>

</div>
