<div class="container jumbotron">
  <h1>Welcome, <%= @user.first_name + " " + @user.last_name %></h1>
  <% if current_user %>
      <div class="col-xs-offset-3 btn-lg btn-success my-btn"><%= link_to "Libraries", libraries_path %></div>
  <% end %>
</div>
