<div class="container jumbotron">

    

<% @libraries.each do |library| %>
  <div class="container">
    <h3><%= link_to library.name %></h3>

    <% if current_user %>
      <%= button_to "Join", library_users_path(library) %>
    <% end %>
  </div>
  <br>
<% end %>

</div>
