/*
 *= require bootstrap-3.3.6.min.css
 *= require_tree .
 *= require_self
 */

/* Not using SASS, this is the CSS for ALL The views */
body {
  background: MidnightBlue;
}

.jumbotron {
  border-radius: 50px;
  box-shadow: -5px 5px maroon;
  font-family: 'Ranga', sans-serif;
  background: salmon;
  font-size: 45px;
  text-align: center;
  text-shadow: -2px 2px skyblue;
}

.jumbotron h1 {
  font-family: 'Griffy', sans-serif;
  text-shadow: -1px 1px white;
}

.jumbotron small {
  text-shadow: -1px 1px black;
}

.my-nav {
  display: inline;
  font-family: 'Ranga', sans-serif;
  font-size: 35px;
  padding-right: 10px;
}

.my-btn {
  border-radius: 50px;
  font-size: 1.5em;
  align-items: center;
  height: 100px;
  color: black;
  max-width: 500px;
}

.my-input {
  padding: 5px;
}

.flash-msg {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  text-align: center;
}
