/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.6.min.css
 *= require_tree .
 *= require_self
 */

body {
  background: MidnightBlue;
}

.jumbotron {
  border-radius: 50px;
  box-shadow: -5px 5px maroon;
  font-family: 'Ranga', sans-serif;
  background: salmon;
  font-size: 45px;
  text-align: center;
  text-shadow: -2px 2px skyblue;
}

.jumbotron h1 {
  font-family: 'Griffy', sans-serif;
  text-shadow: -1px 1px white;
}

.jumbotron small {
  text-shadow: -1px 1px black;
}

.my-nav {
  display: inline;
  font-family: 'Ranga', sans-serif;
  font-size: 35px;
  padding-right: 10px;
}

.my-nav-bar {

}

.my-btn {
  border-radius: 50px;
  font-size: 1.5em;
  align-items: center;
  height: 100px;
  color: black;
  max-width: 500px;
}

.my-input {
  padding: 5px;
}

.flash-msg {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  text-align: center;
}
